<h1>Формулы</h1>
<div>
    <table class="formula-table" >
        <tr>
            <th>Название</th>
            <th>Формула</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Основные тригонометрические тождества</th>
            <td>ctga = cosa/sina = 1/tga</td>
        </tr>
        <tr>
            <td></td>
            <td> tga = sina/cosa = 1/ctga</td>
        </tr>
        <tr>
            <td></td>
            <td>sina^2 + cosa^2 =1</td>

        </tr>
        <tr>
            <td></td>
            <td>1 + tga^2 = 1/cosa^2 </td>

        </tr>
        <tr>
            <td></td>
            <td>1 + ctga^2 = 1/sina^2</td>

        </tr>
        <tr>
            <td></td>
            <td>tga * ctga = 1 </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Формулы двойного угла</th>
            <td>sin(2a)=2⋅cosa⋅sina</td>
        </tr>
        <tr>
            <td></td>
            <td>sin(2a) = 2⋅tga/1+tga^2 = 2 / tga + ctga</td>
        </tr>
        <tr>
            <td></td>
            <td>cos(2a) = 1 - 2⋅sina^2 </td>
        </tr>
        <tr>
            <td></td>
            <td>tg(2a) =2/ctga-tga</td>
        </tr>
        <tr>
            <td></td>
            <td>ctg(2a) = ctga-tga/2</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Формулы тройного угла</th>
            <td>sin(3a)= 3⋅sina - 4⋅sina </td>
        </tr>
        <tr>
            <td></td>
            <td>cos(3a)=4⋅cosa - 3⋅cosa</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Формулы сложения и вычитания аргументов</th>
            <td>sin(a+β) = sina ⋅ cosβ +(-) cosa ⋅ sinβ</td>
        </tr>
        <tr>
            <td></td>
            <td>cos(a+β) = cosa ⋅ cosβ -(+) sina ⋅ sinβ</td>
        </tr>
        <tr>
            <td></td>
            <td>tg(a+β)=  tga + tgβ / 1 -(+) tga ⋅ tgβ </td>
        </tr>
        <tr>
            <td></td>
            <td>ctg(a+β)= ctga⋅ctgβ -(+) 1 / ctga +(-) ctgβ</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Преобразование произведения в сумму</th>
            <td>2cosa*cosβ = cos(a+β)+cos(a-β)</td>
        </tr>
        <tr>
            <td></td>
            <td>2sina*sinβ = cos(a - β) - cos(a+β)</td>
        </tr>
        <tr>
            <td></td>
            <td>2⋅cosa⋅sina = sin(a+β) + sin(a-β)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Формулы понижения степени</th>
            <td>sina^2=(1-cos2a)/2</td>
        </tr>
        <tr>
            <td></td>
            <td>cosa^2=(1+cos2a)/2</td>
        </tr>
        
        
    </table>
</div>